MSS.DBUSER.AbapPassword = {{ sap_master_password }}
MSS.DBUSER.JavaPassword = {{ sap_master_password }}
MSS.Database.Action = USE
MSS.DatabaseSchema = {{ database_schema }}
MSS.ServerConfig.MemoryConfig = NO_CONFIG
MSS.Uninstall.deleteSchemas = {{ database_schema | lower }}
MSS.Uninstall.dropDatabaseLogins = false
NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_MSS_DBINFO.dbhost = {{ db_host }}
NW_MSS_DBINFO.dbsid = {{ environment_sid }}
NW_Unpack.sapExeDbSar = C:/Install/DownloadStack/SAPEXEDB_401-70001663.SAR
NW_checkMsgServer.abapMSPort = 3600
NW_getLoadType.loadType = MDA
NW_getUnicode.isUnicode = true
NW_readProfileDir.profileDir = \\{{ ascs_host }}\sapmnt\{{ environment_sid }}\SYS\profile
NW_readProfileDir.sapdrive = C:
archives.downloadBasket = C:\Install\DownloadStack
hostAgent.sapAdmPassword = {{ sap_master_password }}