MSS.Database.Action = USE
NW_CI_Instance.ascsVirtualHostname = {{ ascs_host }}
NW_CI_Instance.ciInstanceNumber = 10
NW_CI_Instance.ciVirtualHostname =
NW_CI_Instance.scsVirtualHostname = {{ ascs_host }}
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = false
NW_DDIC_Password.ddic000Password = {{ pas_ddic_password }}
NW_Exit_Before_Systemstart.exit = false
NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_MSS_DBINFO.dbhost = {{ db_host }}
NW_MSS_DBINFO.dbsid = {{ environment_sid }}
NW_checkMsgServer.abapMSPort = 3600
NW_getLoadType.loadType = STD
NW_getUnicode.isUnicode = true
NW_readProfileDir.profileDir = \\{{ ascs_host }}\sapmnt\{{ environment_sid }}\SYS\profile
NW_readProfileDir.sapdrive = C:
archives.downloadBasket = C:\Install\DownloadStack
hostAgent.sapAdmPassword = {{ sap_master_password }}