---
# Create directory structure for SAP Import Users
- name: Create directory structure for SAP Import Users
  win_file:
    path: "C:\\Install\\Refresh\\Scripts\\Extracts\\"
    state: directory
  when: 'pas == "true"'

# Copy Files for Importing users into SAP
- name: sap_copy_import_user_files
  script: scripts/sap_copy_user_import_files.ps1 >
    -storName "{{ storage_account_name }}"
    -storKey "{{ storage_account_key }}"
  when: 'pas == "true"'

# Check SAP is online
- name: Check SAP is online
  script: scripts/sap_start_system.ps1 >
    -saphost "{{inventory_hostname}}"
    -sapadmuser "{{ environment_sid | lower }}adm"
    -sapadmpwd "{{ sap_master_password }}"
    -system "{{ environment_sid }}"
  when: 'pas == "true"'

- name: Run User Import Command
  win_shell: R3trans -w C:\Install\Refresh\Scripts\Log\user_imports_{{ instance_type }}.log C:\Install\Refresh\Scripts\user_imports_{{ instance_type }}.imp
  become: yes
  become_method: runas
  become_user: "{{ environment_sid | lower }}adm"
  vars:
    ansible_become_password: "{{ sap_master_password }}"
  when: 'pas == "true"'
  register: import_users_01
  ignore_errors: yes
  failed_when: '"FAILED" in import_users_01.stderr'