NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_GetSidNoProfiles.sapdrive = C:
NW_GetSidNoProfiles.sid = {{ wd_sid }}
NW_GetSidNoProfiles.unicode = true
NW_SAPCrypto.SAPCryptoFile = C:/install/WebDispatcherStack/SAPWEBDISP_SP_225-80002355.SAR
NW_Webdispatcher_Instance.configureSystemConnectivity = true
NW_Webdispatcher_Instance.wdInstanceNumber = 66
NW_webdispatcher_Instance.activateICF = true
NW_webdispatcher_Instance.backEndSID = {{ crm_sid }}
NW_webdispatcher_Instance.encryptionMode = Never
NW_webdispatcher_Instance.msHTTPPort = 8100
NW_webdispatcher_Instance.msHost = {{ groups['CRM_ASCS'][0]|regex_replace('(.agl.int)','')|upper }}
NW_webdispatcher_Instance.rfcClient = 000
NW_webdispatcher_Instance.rfcHost = {{ groups['CRM_PAS'][0]|regex_replace('(.agl.int)','')|upper }}
NW_webdispatcher_Instance.rfcInstance = 10
NW_webdispatcher_Instance.rfcPassword = {{ ddic_000_crm__password }}
NW_webdispatcher_Instance.rfcUser = DDIC
NW_webdispatcher_Instance.scenarioSize = 16000
NW_webdispatcher_Instance.useWdHTTPPort = true
NW_webdispatcher_Instance.wdHTTPPort = 8066
NW_webdispatcher_Instance.wdHTTPSPort = 44366
NW_webdispatcher_Instance.wdVirtualHostname = {{ groups['Web_Dispatcher'][0]|regex_replace('(.agl.int)','')|upper }}
archives.downloadBasket = C:\install\WebDispatcherStack
db2.sidAdmPassword = {{ sap_master_password }}
hostAgent.sapAdmPassword = {{ sap_master_password }}
nwUsers.sapDomain = {{ dns_domain_name }}
nwUsers.sapDomainOU.delimiter = /
nwUsers.sapDomainOU.path = /Resources/Service Accounts/SAPAccounts
nwUsers.sapDomainOU.use = true
nwUsers.sapServiceSIDPassword = {{ sap_master_password }}
nwUsers.sidadmPassword = {{ sap_master_password }}
nwUsers.sapadmUID = sapadm
nwUsers.sidAdmUID = {{ wd_sid | lower }}adm
nwUsers.sapsysGID = SAP_{{ wd_sid }}_GlobalAdmin