---
# Set timezone
- name: Set timezone to AUS Eastern Standard Time (AEST)
  win_timezone:
    timezone: AUS Eastern Standard Time

# Extend C drive - 2008
- name: Extend C drive - 2008
  win_shell: '"select volume c`r extend" | diskpart'
  args:
    executable: powershell
  when: ansible_distribution == "Microsoft Windows Server 2008 R2 Datacenter "

# Extend C drive - 2012/2016
- name: Extend C drive - 2012/2016
  script: scripts/Extend-Volume.ps1
  when: ansible_distribution != "Microsoft Windows Server 2008 R2 Datacenter "

# Disable Windows Firewall - 2008/2012
- name: Disable Windows firewall
  win_shell: netsh advfirewall set allprofiles state off
  when: ansible_distribution != "Microsoft Windows Server 2016 Datacenter"

# Disable Windows Firewall - 2016
- name: Disable Windows firewall
  win_firewall:
    state: disabled
    profiles:
    - Domain
    - Private
    - Public
  when: ansible_distribution == "Microsoft Windows Server 2016 Datacenter"

# Disable Internet Explorer ESC
- name: Disable IE Enhanced Security Configuration
  script: scripts/Disable-InternetExplorerESC.ps1

# Install Microsoft ODBC Driver 11 for SQL Server on non-database servers
# - name: Install ODBC driver
#   win_package: 
#     path: https://download.microsoft.com/download/5/7/2/57249A3A-19D6-4901-ACCE-80924ABEB267/ENU/x64/msodbcsql.msi
#     arguments: /qb IACCEPTMSODBCSQLLICENSETERMS=YES ALLUSERS=1
#     product_id: '{4294D9EB-FECF-4E55-8615-1B9EF152EE95}'
#     state: present
#   when: '"data" not in hostvars[inventory_hostname].group_names and ansible_distribution == "Microsoft Windows Server 2016 Datacenter"'

# Install .NET Framework - 2008/2012
- name: Install .NET Framework 
  script: scripts/Install-DotNetFramework.ps1
  when: ansible_distribution != "Microsoft Windows Server 2016 Datacenter"

# Install .NET Framework - 2016
- name: Install .NET Framework
  win_feature:
    name: NET-Framework-Features
    include_sub_features: true
    state: present
  register: dotnet_install
  when: ansible_distribution == "Microsoft Windows Server 2016 Datacenter"

# Join computer to AGL on-premises Active Directory
- name: Join to Active Directory domain
  win_domain_membership:
    dns_domain_name: "{{ dns_domain_name }}"
    domain_admin_user: "{{ dns_domain_name }}\\{{ domain_join_username }}"
    domain_admin_password: "{{ domain_join_password }}"
    domain_ou_path: "{{ domain_ou_path }}"
    state: domain
  register: domain_state

- name: Reboot if AD join requires
  win_reboot:
  when: domain_state.reboot_required

# Add group to local admins
- name: Add group to local admins
  win_group_membership:
    name: Administrators
    members:
      - "{{ dns_domain_name }}\\{{ domain_admin_group }}"
    state: present

# Ensure this group is removed from local administrators
- name: Remove Func-SAP-Testing group
  win_group_membership:
    name: Administrators
    members:
      - "Func-SAP-Testing-MSDN-Testing"
    state: absent

# Friendly names of privileges granted in this section:
#   * Act as part of the operating system
#   * Adjust memory quotas for a process
#   * Replace a process level token
- name: Grant privileges to install user
  win_user_right:
    name: "{{ item }}"
    users:
      - "{{ dns_domain_name }}\\{{ domain_admin_group }}"
    action: add
  with_items:
    - SeTcbPrivilege
    - SeIncreaseQuotaPrivilege
    - SeAssignPrimaryTokenPrivilege

# Clean up 
# - name: Remove working directories
#   win_file:
#     path: "{{ item }}"
#     state: absent
#   with_items:
#       - C:\install
#       - C:\scripts
#   when: ansible_distribution == "Microsoft Windows Server 2008 R2 Datacenter "