---
# Update SQL index statistics
- name: Update SQL index statistics
  win_shell: sqlcmd.exe >
    -q "USE {{ environment_sid }}; EXEC sp_updatestats"
    -b
  become: yes
  become_method: runas
  become_user: "{{ sap_install_user }}"
  vars:
    ansible_become_password: "{{ sap_install_password }}"

- set_fact:
    module: "{{ hostvars[inventory_hostname].group_names[0] }}"

- set_fact:
    cleanup_script: "{{ module }}_preclean.sql"

# Copy SQL/PS scripts
- name: Transfer SQL/PS scripts 
  win_copy:
    src: "scripts/{{ item }}"
    dest: "C:\\Install\\Scripts\\{{ item }}"
  with_items:
    - "Set-MAXDOP.ps1"
    - "{{ cleanup_script }}"

# Set MAXDOP
- name: Set max degree of parallelism
  win_shell: C:\Install\Scripts\Set-MAXDOP.ps1 > 
    -MaxDegreeOfParallelism 8
  become: yes
  become_method: runas
  become_user: "{{ sap_install_user }}"
  vars:
    ansible_become_password: "{{ sap_install_password }}"

# Run database cleanup scripts
- name: Run database cleanup scripts
  win_shell: sqlcmd.exe >
    -i "C:\\Install\\Scripts\\{{ cleanup_script }}"
    -v "database={{ environment_sid }}"
    -v "schema={{ environment_sid | lower }}"
    -b
  become: yes
  become_method: runas
  become_user: "{{ sap_install_user }}"
  vars:
    ansible_become_password: "{{ sap_install_password }}"
 
# - name: Pre_run_activities_for_BDLS_in_CRM
  # win_shell: sqlcmd.exe -i "C:\Packages\SAP\sqlScripts\BDLS\CRM scripts\Step 1\Pre_run_activities_for_BDLS_in_CRM.sql" -v database="{{ crm_sid }}" schema="{{ crm_sid | lower }}"