NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_GetSidNoProfiles.sapdrive = C:
NW_GetSidNoProfiles.sid = {{ environment_sid }}
NW_SAPCrypto.SAPCryptoFile = C:/Install/DownloadStack/SAPEXE_401-70001664.SAR
NW_SCS_Instance.ascsInstallGateway = true
NW_SCS_Instance.instanceNumber = 00
NW_SCS_Instance.scsVirtualHostname =
NW_Unpack.sapExeSar = C:/Install/DownloadStack/SAPEXE_401-70001664.SAR
NW_getFQDN.FQDN = {{ dns_domain_name }}
archives.downloadBasket = C:\Install\DownloadStack
nwUsers.sapDomain = AGL
nwUsers.sapDomainOU.delimiter = /
nwUsers.sapDomainOU.path = "Resources/Service Accounts/SAPAccounts"
nwUsers.sapDomainOU.use = true
nwUsers.sapServiceSIDPassword = {{ sap_master_password }}
nwUsers.sidadmPassword = {{ sap_master_password }}