MSS.Database.Action = USE
NW_AS.instanceNumber = 81
NW_DI_Instance.nodesNum = 2
NW_DI_Instance.nodesNumber = userNodes
NW_DI_Instance.virtualHostname =
NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_MSS_DBINFO.dbhost = {{ db_host }}
NW_MSS_DBINFO.dbsid = AJ{{ environment_instance_count }}
NW_getLoadType.loadType = SAP
NW_readProfileDir.profileDir = \\{{ ascs_host }}\sapmnt\AJ{{ environment_instance_count }}\SYS\profile
archives.downloadBasket = C:\Install\CRMJAVAInstallStack