archives.downloadBasket = C:\Install\CRMJAVAInstallStack
MSS.Database.Action = USE
NW_CI_Instance.ascsVirtualHostname = {{ ascs_host }}
NW_CI_Instance.ciInstanceNumber = 81
NW_CI_Instance.ciVirtualHostname =
NW_CI_Instance.scsVirtualHostname = {{ ascs_host }}
NW_CI_Instance.nodesNum = 2
NW_CI_Instance.nodesNumber = userNodes
NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_MSS_DBINFO.dbhost = {{ db_host }}
NW_MSS_DBINFO.dbsid = AJ{{ environment_instance_count }}
NW_Unpack.igsExeSar = C:/Install/CRMJAVAInstallStack/igsexe_6-70002880.sar
NW_Unpack.igsHelperSar = C:/Install/CRMJAVAInstallStack/igshelper_17-10010245.sar
NW_Unpack.sapExeDbSar = C:/Install/CRMJAVAInstallStack/SAPEXEDB_500-70001663.SAR
NW_Unpack.sapJvmSar = C:/Install/CRMJAVAInstallStack/SAPJVM6_111-10006998.SAR
NW_getLoadType.loadType = SAP
NW_internal.useProductVersionDescriptor = true
NW_readProfileDir.profileDir = \\{{ ascs_host }}\sapmnt\AJ{{ environment_instance_count }}\SYS\profile
Prepare_Deployment_Using_Product_Version_Descriptor.copyNWDIArchives = false
SAPINST.CD.PACKAGE.JCOMP = C:\install\CRMJAVAInstallStack\51050819
UmeConfiguration.adminName = J2EE_ADM_ADS
UmeConfiguration.adminPassword = {{ pas_ddic_password }}#
UmeConfiguration.guestName = J2EE_GST_ADS
UmeConfiguration.sapjsfPassword = {{ pas_ddic_password }}
UmeConfiguration.umeClient = 100
UmeConfiguration.umeHost = AZSAW0600
UmeConfiguration.umeInstance = 10
UmeConfiguration.umeType = abap