MSS.Database.Action = USE
NW_CI_Instance.ascsVirtualHostname = {{ ascs_host }}
NW_CI_Instance.ciInstanceNumber = 81
NW_CI_Instance.ciVirtualHostname = {{ pas_host }}
NW_CI_Instance.scsVirtualHostname = {{ ascs_host }}
NW_GetMasterPassword.masterPwd = des24(151|166|105|28|142|186|68|22|155|194|165|12|8|26|150|87|192|3|67|)
NW_MSS_DBINFO.dbhost = {{ db_host }}
NW_MSS_DBINFO.dbsid = AJ{{ environment_instance_count }}
NW_Unpack.igsExeSar = C:/Install/CRMJAVAInstallStack/igsexe_6-70002880.sar
NW_Unpack.igsHelperSar = C:/Install/CRMJAVAInstallStack/igshelper_17-10010245.sar
NW_Unpack.sapExeDbSar = C:/Install/CRMJAVAInstallStack/SAPEXEDB_500-70001663.SAR
NW_Unpack.sapJvmSar = C:/Install/CRMJAVAInstallStack/SAPJVM6_111-10006998.SAR
NW_getLoadType.loadType = SAP
NW_internal.useProductVersionDescriptor = true
NW_readProfileDir.profileDir = \\{{ ascs_host }}\sapmnt\AJ{{ environment_instance_count }}\SYS\profile
Prepare_Deployment_Using_Product_Version_Descriptor.copyNWDIArchives = false
UmeConfiguration.adminName = J2EE_ADM_AJ{{ environment_instance_count }}
UmeConfiguration.adminPassword = des24(151|166|105|28|142|186|68|22|9|39|166|124|9|8|167|71|225|245|104|)
UmeConfiguration.guestName = J2EE_GST_AJ{{ environment_instance_count }}
UmeConfiguration.sapjsfPassword = des24(151|166|105|28|142|186|68|22|9|39|166|124|9|8|167|71|225|245|104|)
UmeConfiguration.umeClient = 100
UmeConfiguration.umeHost = AZSAW0542
UmeConfiguration.umeInstance = 10
UmeConfiguration.umeType = abap
archives.downloadBasket = C:\Install\CRMJAVAInstallStack
