NW_GetMasterPassword.masterPwd = {{ sap_master_password }}
NW_GetSidNoProfiles.sid = AJ{{ environment_instance_count }}
NW_SAPCrypto.SAPCryptoFile = C:/Install/CRMJAVAInstallStack/SAPEXE_200-70001664.SAR
NW_SCS_Instance.instanceNumber = 80
NW_SCS_Instance.scsVirtualHostname =
NW_Unpack.sapExeSar = C:/Install/CRMJAVAInstallStack/SAPEXE_200-70001664.SAR
NW_getFQDN.FQDN = agl.int
archives.downloadBasket = C:/Install/CRMJAVAInstallStack/
nwUsers.sapServiceSIDPassword = {{ sap_master_password }}
nwUsers.sidadmPassword = {{ sap_master_password }}