<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<TMMsg_CreateTaskReq>

  <processinginstructioninfo/>

  <taskInfo>
    <task>
      <taskFlags>
        <disabled>false</disabled>
      </taskFlags>
      <policyType>DATA_PROTECTION</policyType>
      <taskType>IMMEDIATE</taskType>
      <initiatedFrom>COMMANDLINE</initiatedFrom>
    </task>
    <associations>
      <subclientName></subclientName>
      <backupsetName>defaultBackupSet</backupsetName>
      <instanceName>SQLCLUSTER11</instanceName>
      <appName>SQL Server</appName>
      <clientName>sqlcluster11</clientName>
      <copyName>GDSP_MEL_GRID01_Primary</copyName>
      <storagePolicyName>GDSP_MEL_GRID01</storagePolicyName>
    </associations>
    <subTasks>
      <subTask>
        <subTaskType>RESTORE</subTaskType>
        <operationType>RESTORE</operationType>
      </subTask>
      <options>
        <restoreOptions>
          <browseOption>
            <commCellId>2</commCellId>
            <backupset>
              <backupsetName>defaultBackupSet</backupsetName>
              <clientName>sqlcluster11</clientName>
            </backupset>
            <timeRange>
              <toTimeValue>{{ restore_time }}</toTimeValue>
            </timeRange>
            <noImage>false</noImage>
            <useExactIndex>false</useExactIndex>
            <mediaOption>
              <library/>
              <mediaAgent>
                <mediaAgentName>{{ cv_media_agent }}</mediaAgentName>
              </mediaAgent>
              <drivePool/>
              <copyPrecedence>
                <copyPrecedenceApplicable>true</copyPrecedenceApplicable>
                <copyPrecedenceType>SYNCHRONOUS</copyPrecedenceType>
                <synchronousCopyPrecedence>5</synchronousCopyPrecedence>
                <copyPrecedence>5</copyPrecedence>
              </copyPrecedence>
              <useISCSIMount>false</useISCSIMount>
            </mediaOption>
            <timeZone>
              <TimeZoneName>(UTC+10:00) Canberra, Melbourne, Sydney</TimeZoneName>
            </timeZone>
            <listMedia>false</listMedia>
          </browseOption>
          <destination>
            <destClient>
              <clientName>{{ ansible_hostname }}</clientName>
            </destClient>
            <destinationInstance>
              <instanceName>{{ ansible_hostname }}</instanceName>
              <appName>SQL Server</appName>
              <clientName>{{ ansible_hostname }}</clientName>
            </destinationInstance>
          </destination>
          <sharePointRstOption>
            <fetchSqlDatabases>false</fetchSqlDatabases>
          </sharePointRstOption>
          <sqlServerRstOption>
            <dbOnly>false</dbOnly>
            <overWrite>true</overWrite>
            <pointOfTimeRst>false</pointOfTimeRst>
            <sqlRestoreType>DATABASE_RESTORE</sqlRestoreType>
            <sqlRecoverType>STATE_RECOVER</sqlRecoverType>
            <stopStartSSA>false</stopStartSSA>
            <preserveReplicationSettings>false</preserveReplicationSettings>
            <stopMarkRestore>false</stopMarkRestore>
            <stopBeforeMarkRestore>false</stopBeforeMarkRestore>
            <partialRestore>false</partialRestore>
            <logShippingOnly>false</logShippingOnly>
            <ffgRestore>false</ffgRestore>
            <ignoreFullBackup>false</ignoreFullBackup>
            <vSSBackup>true</vSSBackup>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1LOG1|#12!I:\{{ crm_sid }}LOG\CP1LOG1.ldf|#12!F:\CP1LOG1\CP1LOG1.ldf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA1|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA1\CP1DATA1.mdf|#12!G:\CP1DATA1\CP1DATA1.mdf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA9|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA1\CP1DATA9.ndf|#12!G:\CP1DATA1\CP1DATA9.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA10|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA2\CP1DATA10.ndf|#12!G:\CP1DATA2\CP1DATA10.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA2|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA2\CP1DATA2.ndf|#12!G:\CP1DATA2\CP1DATA2.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA11|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA3\CP1DATA11.ndf|#12!G:\CP1DATA3\CP1DATA11.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA3|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA3\CP1DATA3.ndf|#12!G:\CP1DATA3\CP1DATA3.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA12|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA4\CP1DATA12.ndf|#12!G:\CP1DATA4\CP1DATA12.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA4|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA4\CP1DATA4.ndf|#12!G:\CP1DATA4\CP1DATA4.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA13|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA5\CP1DATA13.ndf|#12!G:\CP1DATA5\CP1DATA13.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA5|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA5\CP1DATA5.ndf|#12!G:\CP1DATA5\CP1DATA5.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA14|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA6\CP1DATA14.ndf|#12!G:\CP1DATA6\CP1DATA14.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA6|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA6\CP1DATA6.ndf|#12!G:\CP1DATA6\CP1DATA6.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA15|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA7\CP1DATA15.ndf|#12!G:\CP1DATA7\CP1DATA15.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA7|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA7\CP1DATA7.ndf|#12!G:\CP1DATA7\CP1DATA7.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA16|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA8\CP1DATA16.ndf|#12!G:\CP1DATA8\CP1DATA16.ndf</device>
            <device>|CP1|#12!{{ crm_sid }}|#12!CP1DATA8|#12!I:{{ crm_sid }}\{{ crm_sid }}DATA8\CP1DATA8.ndf|#12!G:\CP1DATA8\CP1DATA8.ndf</device>
            <restoreSource>CP1</restoreSource>
            <database>CP1</database>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:\{{ crm_sid }}LOG\CP1LOG1.ldf&#x9;CP1LOG1&#x9;179463782400&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA1\CP1DATA1.mdf&#x9;CP1DATA1&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA1\CP1DATA9.ndf&#x9;CP1DATA9&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA2\CP1DATA10.ndf&#x9;CP1DATA10&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA2\CP1DATA2.ndf&#x9;CP1DATA2&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA3\CP1DATA11.ndf&#x9;CP1DATA11&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA3\CP1DATA3.ndf&#x9;CP1DATA3&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA4\CP1DATA12.ndf&#x9;CP1DATA12&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA4\CP1DATA4.ndf&#x9;CP1DATA4&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA5\CP1DATA13.ndf&#x9;CP1DATA13&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA5\CP1DATA5.ndf&#x9;CP1DATA5&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA6\CP1DATA14.ndf&#x9;CP1DATA14&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA6\CP1DATA6.ndf&#x9;CP1DATA6&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA7\CP1DATA15.ndf&#x9;CP1DATA15&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA7\CP1DATA7.ndf&#x9;CP1DATA7&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA8\CP1DATA16.ndf&#x9;CP1DATA16&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <deviceInfo>5&#x9;{{ crm_sid }}&#x9; &#x9; &#x9;I:{{ crm_sid }}\{{ crm_sid }}DATA8\CP1DATA8.ndf&#x9;CP1DATA8&#x9;319647907840&#x9;CP1&#x9;</deviceInfo>
            <timeZone>
              <TimeZoneName>(UTC+10:00) Canberra, Melbourne, Sydney</TimeZoneName>
            </timeZone>
            <keepDataCapture>false</keepDataCapture>
            <cloneEnv>false</cloneEnv>
            <cloneResrvTimePeriod>0</cloneResrvTimePeriod>
            <commonMountPath></commonMountPath>
            <dropConnectionsToDatabase>false</dropConnectionsToDatabase>
            <sqlVerifyOnly>false</sqlVerifyOnly>
            <restoreToDisk>false</restoreToDisk>
            <restoreToDiskPath></restoreToDiskPath>
            <attachToSQLServer>false</attachToSQLServer>
            <checksum>false</checksum>
            <continueaftererror>false</continueaftererror>
            <snapOopStageFolder></snapOopStageFolder>
            <restoreStreams>16</restoreStreams>
            <restoreOnlyFullBackup>false</restoreOnlyFullBackup>
            <stagingInstance/>
          </sqlServerRstOption>
          <virtualServerRstOption>
            <isBlockLevelReplication>false</isBlockLevelReplication>
          </virtualServerRstOption>
          <fileOption/>
          <commonOptions>
            <onePassRestore>false</onePassRestore>
            <clusterDBBackedup>false</clusterDBBackedup>
            <restoreToDisk>false</restoreToDisk>
            <isDBArchiveRestore>false</isDBArchiveRestore>
            <syncRestore>false</syncRestore>
            <validateOnly>false</validateOnly>
            <copyToObjectStore>false</copyToObjectStore>
          </commonOptions>
          <dbDataMaskingOptions>
            <isStandalone>false</isStandalone>
          </dbDataMaskingOptions>
        </restoreOptions>
        <adminOpts>
          <contentIndexingOption>
            <subClientBasedAnalytics>false</subClientBasedAnalytics>
          </contentIndexingOption>
        </adminOpts>
      </options>
      <subTaskOperation>OVERWRITE</subTaskOperation>
    </subTasks>
  </taskInfo>

</TMMsg_CreateTaskReq>
